<!DOCTYPE html>
<head>
    <title> {{title}} </title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    {{>navbar}}
    <div class="layoutBody">
        {{{body}}}
    </div>
</body>
</html>