<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/newacct.css">
<link rel="stylesheet" href="/css/venue-registration.css">
<script src="/js/venue-registration.js"></script>

<div class="outer">
    <h1 id="venue-title">  </h1>
    <div class="confirm-information container">
        <span id="inner-header"> Confirm your information below: </span>
        <hr>
        <form class="form" id="confirm-venue-register" method="post">
            <div id="js-fill"></div>
            <input type="submit" value="Confirm Registration">
        </form>
    </div>
</div>